body{
    background-color: #EEDEDE;
    font-family: "Bricolage Grotesque", sans-serif;
    overflow-x: hidden;
}

a{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 3px;
    background: #FFFF;
}

::-webkit-scrollbar-thumb{
    background: #E04C4C;
}